[2022-07-25 21:17] J3rUr0 opened #5 "Game reset loop and graphics corruption."
The game(s) restarts after 2-3 seconds after the initial test screen.
There is also some graphics corruption.

I can do tests if you need it...

Arcade-Garegga_20220725.rbf
Arcade-Batrider_20220725.rbf
Arcade-Bakraid_20220725.rbf
128mb module

[2022-07-26 18:33] hyp36rmax commented on #5
Sounds like SDRAM Timing. I had that issue with Battle Garegga with a RAM0 Bad and Kingdom GP Bad Rom Error. These are known.

[2022-07-26 18:45] J3rUr0 commented on #5
Now working correctly with the release:
Arcade-Batrider_20220726.rbf

[2022-07-26 19:44] atrac17 commented on #5
Very confused with it "rebooting", I did not experience this.

Made changes due to the same errors and tested for a few hours. Gave it a shot, apologies for the issues you are experiencing.

[2022-07-26 21:11] J3rUr0 commented on #5
@atrac17
I dont have problems with the other cores. Tell me if you want to test something.
Thanks a lot for your dedication.

[2022-07-27 14:49] eturquin opened #8 "Autofire in Garegga"
Would it by any chance be possible to add autofire rate (not talking about Mister's generic autofire system, but the one built into the game) as an option in the OSD menu, for Battle Garegga? Switching rates is quite critical in trying to finish the game, given the rank system. Cheers!

[2022-07-27 14:55] psomashekar commented on #8
Zakk may know something about it. But in any case, autofire rate has nothing to do with the core itself, but the MiSTer system. inputs are passed to the game as is, so we cannot actually control inputs the other way around - they get passed to the game, and the game processes them. I would reach out to him as there's been some talk about this in the channel as I saw, but this will not be handled b

[2022-07-27 15:14] eturquin commented on #8
Fair enough, although I was talking about the autofire built into the game (not the generic MiSTer one, that can be applied to any game and button). When holding the first button down, there is an autofire, whose rate can be set to different values; the higher the frequency, the more it increases the rank, so it is common to set it to 10Hz, which is the max value that still has the minimal impact

[2022-07-27 15:20] eturquin commented on #8
(Btw, this was mentioned in the original repo too: https://github.com/psomashekar/pr4m0d-MISTer-bin/issues/23)

[2022-07-27 15:25] psomashekar commented on #8
Based on what I see in that wiki, if the autofire rate is selected by pressing a button at a certain rate, it means it can be achieved perhaps through a rom hack of some kind to set the rate outside of the normal conventional way. I would follow up with zakk on this, he is the expert in this area. But, if you have to keep going to the menu to select the auto fire rate while you are playing the gam

[2022-07-27 18:03] eturquin commented on #8
Will do! And double thanks, for the fast replies to this thread, and more importantly for all your amazing work on the Toaplan cores, those are a dream come true! ^_^

[2022-07-27 20:07] psomashekar commented on #8
@atrac17 says mabe some patch in the MRA can achieve this? Not sure. Sorry.

[2022-07-28 11:46] J3rUr0 commented on #5
After further investigation it appears that it was an overheating issue!
I am closing the issue as it is a specific issue with my setup.

Note: I still don't know why other cores worked fine...

[2022-07-28 11:46] #5 closed

[2022-07-28 14:07] eturquin commented on #8
Btw, what would be the best way to get in touch with Zakk about this? (Zakk, are you reading this? ;))
Also, setting this rate in the menu wouldn't be such a big issue, since we can pause the game, and this is not something that you do very often anyway (maybe once or twice in a complete run... and prob. never if you can't get past the first few levels).
The M2 release on PS4 has a dedicated butto

[2022-07-28 21:36] zakk4223 commented on #5
Someone I know is having this exact issue, even with the new SDRAM parameters. Graphical glitches and then the core just resets. They are using a 128MB sdram module, not sure what versions etc. I'll update this with a link  to a twitch vod timestamp later that shows it happening to them

[2022-07-28 21:39] atrac17 commented on #5
We've got it figured out. It's more than just SDRAM parameters. Still some more work to be done before anything can be pushed.

[2022-07-29 12:17] luke86 opened #10 "Battle Garegga - A+B+C Button Binding"
In the ship selection there is a way to choose the "Speed Up and Shot Power Type" variant of the currently marked ship if you press A+B+C button at the same time.

Can we maybe have a binding for one button that presses all these 3 buttons? The Neo Geo core has such a binding for easy cheat menu access.

[2022-07-29 12:18] luke86 opened #11 "Battle Garegga - Sound is not right anymore"
Since the first RC version something changes with the Sound.

It feels like the Music is louder and the Voice that says "power up" when you pick up a power up is so low that i almost cant hear it.

[2022-07-29 12:20] luke86 opened #12 "Battle Garegga - Has no Pause Button"
Sorry if this is already being worked on and we just have to be patient but Batrider now has a pause button i can bind but Battle Garegga has none.

[2022-07-29 12:21] atrac17 commented on #12
Yes, give it some time...

[2022-07-29 12:28] luke86 opened #13 "Armed Police Batrider - Dip Switches change other Dip Switches"
1) I can set "Coin 1" to free play without any problem but when i try to change "Coin 2" it also changes "Hit Score", "Sound Effect" and "Music".

2) When i reset the Settings via "reset settings" in the Mister Menu for the Core the Dip Switches "Hit Score", "Sound Effect" and "Music" are set to OFF

3) (maybe related to "1)") When i activate "Guest Players", "Player Select" and "Special Course" i

[2022-07-29 12:39] luke86 commented on #13
I was told to close this!

[2022-07-29 12:39] #13 closed

[2022-07-30 13:27] #12 closed

[2022-07-31 02:36] zakk4223 commented on #10
The MRA in this repo lets you use the start button to select the A+B+C ship
https://github.com/zakk4223/battle-garegga-patches/tree/master/mister

Keep the stage edit dip disabled if you don't want all the on-screen 'gadgets'.

[2022-07-31 02:39] zakk4223 commented on #8
I added autofire select to my garegga rom modifications. Start+B will increase autofire rate in the same increments as M2 port. You can't increase to the 'hidden' 60hz via this method, though. You'll have to enable the stage edit dip to see the current autofire rate. (I might change this in the future and always show autofire rates)

You can use the MRA in this directory: https://github.com/zakk42

[2022-07-31 10:23] luke86 commented on #10
I just tried it and its my favourite way to play the game now.
Thanks a lot!

[2022-07-31 10:23] #10 closed

[2022-07-31 10:23] luke86 commented on #8
I just tried it and its my favourite way to play the game now.
Thanks a lot!

[2022-07-31 14:12] blisstik opened #17 "SDRAM Compatibility"
The latest 0729 release of Garegga is unstable and freezes. I also notice that some parts around the ship flickers. I have a dual ram setup with the primary 128MB and secondary 32MB.

The other one's seem to play fine.

[2022-07-31 15:20] psomashekar commented on #17
Please log all SDRAM related issues such as these here. Thanks. @atrac17

[2022-07-31 15:56] psomashekar commented on #17
Please let me know if you have an IO board and fan too as overheating was also a symptom for some people.

[2022-07-31 18:57] blisstik commented on #17
No IO board, no fan, in an open case with heatsink. The one's before 0729 worked just fine.

[2022-08-01 14:40] Restart-Point opened #18 "Sorcer Striker Black Screen - doesn't attempt to assemble/load ROM"
All the Garrega core games work fine for me except Sorcer Striker. Which just goes to a black screen and doesn't show any errors/warnings about the rom and it doesn't try to assemble/load the rom. Just stays on black screen. I have a single 128MB SDRAM. My MiSTer doesn't have any other issues I am aware of. I also checked the sstriker.zip ROM MD5 hash against one I got from MAME set 0.245 and it i

[2022-08-01 15:54] atrac17 commented on #18
Run update _all again. The MRA has been updated.

On Mon, Aug 1, 2022, 10:40 AM Rich ***@***.***> wrote:

[2022-08-01 18:23] Restart-Point commented on #18
I have run update_all a few times yesterday/today and again just now 19:22 GMT.
Nothing was updated and Issue is still the same. thanks

[2022-08-01 19:20] #18 closed

[2022-08-01 20:50] Restart-Point commented on #18
Sorcer Striker is working good. I appreciate  your quick responses!

[2022-08-03 10:48] psomashekar commented on #17
There's no difference in the SDRAM consumption between the builds by the way. Just minor bugs fixed. So if one build is working for you but another is not, it's not to do with SDRAM.

Secondly, the memory test checks something different than what we are looking for here, so it can be misleading. However, it can help to see if you have corrupt blocks, etc. The cores at the moment require a very hig

[2022-08-03 10:49] psomashekar commented on #11
I fixed audio balance in the last build.

[2022-08-03 10:49] #11 closed

[2022-08-03 10:50] psomashekar commented on #8
Thanks @zakk4223.

[2022-08-03 10:50] #8 closed

[2022-08-03 13:17] willoucom commented on #17
@atrac17 It worked the right way with the test version you provided.

[2022-08-03 13:23] atrac17 commented on #17
Great, do you see a lot of striping or GFX corruption?

@psomashekar and I will be both working on different changes in the future when time permits.

[2022-08-03 16:54] psomashekar commented on #17
Yea we can try the best we can, but it's hard to really account for all the variations in SDRAM. Just to note, I have 128mb from mister Addons, the IO board and a fan.

[2022-08-03 18:44] willoucom commented on #17
Hello again, I made some tests with batrider.
There is a little bit of stripping on some explosions (often on the bosses) and with the shorty's bomb (the big laser).
However I can't compare with the original since I don't own the pcb.

I have not seen any gfx corruption in my multiple attempts to complete the training mode.
To activate the single character mode, press Up, Up, Down, Down, Left, Rig

[2022-08-07 01:36] blisstik commented on #17
I took out my 30mm fan once I went with dual SDRAM, now that it's summer, it's hot so I put it back again (I used USB for the fan pins). Seems to work fine now.

[2022-08-07 01:40] atrac17 commented on #17
Please don't close this as we are using it for everyone now not just you.

[2022-08-07 01:40] psomashekar commented on #17
Reopened.

[2022-08-07 11:35] rogalian opened #20 "Sprite Lag Issue"
There appears to be a problem with certain graphical elements not sticking together properly. It's particularly noticeable on the first boss, where moving left and right causes the fuselage and engines to detach from the wings (using Silver Sword).

I've attached a video that shows the problem.

https://user-images.githubusercontent.com/5140184/183288485-85a93af9-d5b7-41fe-b341-be081b6578e2.mp4

[2022-08-07 11:49] rogalian commented on #20
Here is how it should look - captured from an original PCB.
Uploading IMG_4166.mp4…

[2022-08-07 18:47] psomashekar commented on #20
Yea, I don't see this, though I am running on hdmi. I think another person reported something similar, and it may be caused by the clocks and timing. We are taking a look at the overall clocks and timing anyway, so I think this issue should be fixed when we fix that.

[2022-08-08 12:04] Optiroc commented on #20
I also noticed this within seconds. It’s easy to observe by moving sideways and looking at ground enemies like turrets or tanks – they don’t move in sync with the background layer.

I believe the board uses a sprite framebuffer, and if that isn’t implemented correctly the background will lag behind by a frame or two. (Just a hunch!)

[2022-08-08 14:21] psomashekar commented on #20
No, that's not how the games work. There's no extra framebuffer for sprites, and all 3 games use the same gp9001 config. The only thing is in batrider there's double buffered sprites, but that's basically the sprite queue mirrored.

[2022-08-08 14:59] Optiroc commented on #20
Right. Are you sure that Garegga doesn’t also use the double buffered sprite queue? Not doing it would likely manifest in the same type of misalignment, I would guess.

[2022-08-08 15:32] psomashekar commented on #20
No, Garegga doesn't have any double buffering.

Actually if I had to guess, this is most likely related to another issue I am researching regarding calculation of the Sprite scroll y offsets. Garegga also uses a different value for that than other games.

[2022-08-08 15:34] atrac17 commented on #20
I backup this assessment. Left a note elsewhere for you too.

[2022-08-08 15:41] psomashekar commented on #20
Sprite ram is mirrored in batrider and bakraid, that's about all. Garegga and below all direct access and single.

[2022-08-09 22:29] eturquin commented on #20
I have noticed this issue as well, especially in Garegga (playing on a HDMI TV, 1080p 60hz), where many elements (explosion impacts on the ground, after an enemy has been destroyed, are a good example) seem to react to lateral scrolling with a delay, which gives the impression that they detached from the background and floating above.

[2022-08-12 13:38] psomashekar commented on #20
I found the source of this issue. Garegga has 2 frames of sprite lag. So, whatever sprites are drawn are actually based on the contents of sprite ram 2 frames ago. In a double buffering scenario, it would be based on one frame ago. I was able to also replicate this issue in final burn neo, so garegga exhibits the same issue there as well.

[2022-08-14 05:12] psomashekar commented on #20
The fix I implemented tonight seems to work well. I am testing the other games as well. Will generate a new build with the latest changes if all is well.

[2022-08-14 06:53] psomashekar commented on #20
the lag is only 1 frame in bakraid and batrider from my testing. new build will be published with fix.

[2022-08-14 06:53] #20 closed

[2022-08-14 07:00] psomashekar commented on #20
New build published with fix.

[2022-08-14 11:25] Toryalai1 opened #23 "Sorcer Striker - Raizing logo and character select sprites missing"
In the 20220814 build of Sorcer Striker, the Raizing logo in the notice screen is missing: (Please ignore the weird screen shot, I don't know why it was screen shotted like that)
![20220814_131841-screen](https://user-images.githubusercontent.com/82502378/184534374-40a7c549-d30d-490f-b911-772ae2de6e1a.png)

It should look like this:

![Skärmavbild 2022-08-14 kl  13 22 27](https://user-images.gith

[2022-08-14 12:12] psomashekar commented on #23
Thanks,
Probably there's no sprite lag in this game, so I have to add an exception for this. What about kingdomgp?

[2022-08-14 12:21] psomashekar commented on #23
by the way, I am not actively working on sorcer or kingdom in these builds as I don't have the real boards and I need confirmation of some details to proceed on the speed fix and other things as well that are issues.

[2022-08-14 13:50] psomashekar commented on #23
after doing some investigation, it may be the way that the game wraps sprites around when there is overflow. Because when I play the game, it seems the left side sprites get cut off somewhat.

[2022-08-14 17:56] psomashekar commented on #23
fixed.

[2022-08-14 17:56] #23 closed

[2022-08-15 00:37] alamone commented on #17
I have tried v2.5 and v2.9 128MB SDRAMs (single) on a MiSTer with analog I/O and USB board.  I get flickering when there are a lot of sprites onscreen.  I took a video:

[https://twitter.com/alamone/status/1558944518241603585](url)

[2022-08-15 01:56] psomashekar opened #25 "Sprite Flickering After Sprite Lag Fix"
I have tried v2.5 and v2.9 128MB SDRAMs (single) on a MiSTer with analog I/O and USB board.  I get flickering when there are a lot of sprites onscreen.  I took a video:

[https://twitter.com/alamone/status/1558944518241603585](url)

Update: I tested a 32MB SDRAM XS v1.1 and still getting the same flickering.

_Originally posted by @alamone in https://github.com/MiSTer-devel/Arcade-Raizing_MiSTer/i

[2022-08-15 01:57] psomashekar commented on #25
Will have to find another opportune time to clear the sprite buffer, as the timing right now causes flickering.

[2022-08-15 12:36] psomashekar commented on #25
I have a fix for this, will have a build later today.

[2022-08-15 15:49] psomashekar commented on #25
fixed.

[2022-08-15 15:49] #25 closed

[2022-08-15 19:12] Toryalai1 opened #27 "Battle Garegga - Coin Error when inserting coin."
When dying, and during the 9-second countdown, if you press the insert coin button multiple times or spam it, you will get a coin error message. After a minute or so it will restart back to the title screen.

[2022-08-16 11:33] psomashekar commented on #27
Yes, this is original behavior on the real board for all 3 games.

[2022-08-16 11:33] #27 closed

[2022-08-16 15:38] birdybro commented on #27
As a bit of trivia and a sidenote, this kind of error occurs in multiple other original hardware arcade systems. Think of it almost as a "tilt" sensor equivalent to prevent misuse, it apparently was often intentional.

[2022-08-17 09:20] willoucom commented on #17
It seems that one of the recent updates broke the crc checksum at startup of some games, batrider for example.

[2022-08-17 13:49] psomashekar commented on #17
Nothing was changed with SDRAM yet, so it's probably a coincidence. All that's been changed in the latest releases is graphics fixes for the gp9001.

@atrac17 is testing different clocking settings that might be more compatible with different memory modules.

[2022-08-18 05:32] wolfsoftgmbh opened #29 "DIP Setting Screen Flip Not Implemented"
Battle Garegga both on analog output and hdmi startup looking like mirrored some parts and later in game background errors and sprite trouble
thanks for all
go on

[2022-08-18 10:28] psomashekar commented on #29
The dip is not implemented in the core.

[2022-08-18 16:55] psomashekar commented on #29
I had a bit of time, and this will appear in today's build.

[2022-08-18 17:43] psomashekar commented on #29
done.

[2022-08-18 17:43] #29 closed

[2022-08-18 19:12] wolfsoftgmbh commented on #29
On HDMI Output with Videosettings: Rotate Screen works in both directions.
But on analog Output (CRT) DIP Setting didn`t work with Screen Flip: ON.
As i am a CRT user, i didn't want to turn the heavy beast 180 degress ;-)
GO ON, thanks for all

[2022-08-18 19:28] wolfsoftgmbh commented on #29
After update all it works perfect on my CRT with DIP Setting Flip Screen on
Many thanks GO ON!
Can't wait to see Truxton 2 on my CRT ;-)

[2022-08-19 00:54] psomashekar commented on #29
please follow @atrac17 for the toaplan2 core which will include truxton 2 and many others. Thanks for the support.

[2022-08-20 18:33] 630216-29-2400 opened #32 "Image Corruption at top of Screen and Rolling Image with forced_scandoubler=1"
Don't use gighub so please excuse any errors in my report.

I have no way to test analogue output but irrelevant of the resolutions that I try I'm having graphical issues with all variations of Armed Police Batrider, Battle Bakraid, Battle Garegga, Kingdom Grandprix and Sorcer Striker.
The top maybe 5% of the image is distorted, it's always been that way but since the latest update in now shows co

[2022-08-21 05:16] psomashekar commented on #32
It's possible that it's something in your setup, because I haven't seen this issue reported. Also, I checked just now, and it looks like this for me:
![1661058910049263413070908304429](https://user-images.githubusercontent.com/976353/185776604-dbb632ac-e863-4f41-b91b-af1b0f3ca306.jpg)

So the top of the image looks fine.

[2022-08-21 18:13] 630216-29-2400 commented on #32
Thanks, I had been wondering why I'd not seen anything of this issue anywhere else, your replay made me go back and test a few other settings.
Some time back it was recommended to me to activate the forced_scandoubler option in the ini due to the obvious benefits of doubling the resolution on a single axis. Testing these cores without the forced scandoubling does fix the issue in these cores.
I'm

[2022-08-21 21:41] psomashekar commented on #32
Thanks for the update. @atrac17 wondering if you know anything about this setting?

[2022-08-23 18:51] cesetxeberria commented on #32
I can confirm this issue. I have my mister connected to a 31khz pc crt, using forced_scandoubler=1.
According to my monitor info, resolution is constantly changing between 480x321 and 480x322

[2022-08-25 09:55] PepAlacant opened #35 "Sound Issues ( Speed and ADPCM ) Kingdom Grandprix"
Hello! I could test the last release and the sound is not corrected. It fluctuates and goes slower than normal.
The ADPCM is barely audible ( It happens in all the Raizing releases that use the same chip )

I played this game a lot in Sega Saturn, The Saturn version has the arcade OST in CD-DA.

There are a videos about how it should go in speed and adpcm volumes.

https://www.youtube.com/watch?v=

[2022-08-25 11:30] psomashekar commented on #35
That's from the OST, and it looks like it has reverb added to it or something. But was the speed correct in the previous release or too fast? Mabe I think it is too slow.

You should compare to the real PCB when reporting issues, not the sega saturn version:
https://www.youtube.com/watch?v=8iIe8mbHLVc&ab_channel=TheObsoleteGeek

[2022-08-25 12:03] PepAlacant commented on #35
The SS version's music is the arcade OST recorded in CD-DA. The music that sounds in SS version is the arcade one. The reverb is a problem of the video. In the previous releases the sound was too fast, and had fluctuations. Now the sound is too slow and has fluctuations too. The ADPCM is too weak and barely audible. I'm sorry but I cannot give the real PCB confirmation, I've played it and I can sa

[2022-08-25 12:11] psomashekar commented on #35
I think the latest release may be too slow compared to last one. I think it may be somewhere between 4mhz and 3.375 in that case @atrac17 has the real board and will measure today when he gets time.

[2022-08-25 13:02] PepAlacant commented on #35
Fantastic!

[2022-08-25 23:00] psomashekar commented on #35
Try latest build. Made some adjustments.

[2022-08-30 18:09] #35 closed

[2022-08-30 18:49] psomashekar commented on #17
latest build has fix for this.

[2022-08-30 18:49] #17 closed

[2022-08-30 23:01] psomashekar commented on #32
Fixed in latest build.

[2022-08-30 23:01] #32 closed

[2022-08-31 15:13] ConHuevosGuey opened #38 "Sorcer Striker music is too slow. Start/Coin buttons are reversed in button map."
As of 8/30/2022 release, the music is still playing too slow in Sorcer Striker, if I had to guess I'd say it's at 0.75x the actual speed it should be.

The start and coin button are also swapped when defining buttons, start is actually coin and coin is actually start.

[2022-08-31 19:30] MaxSchultz commented on #38
Agreed re: the music

When I tap out the first stage music to the pcb (https://www.youtube.com/watch?v=9N_aYVEv2fY) I get ~150bpm and with the core I'm getting ~140bpm.

[2022-08-31 20:20] psomashekar commented on #38
There was an issue with the pll in yesterday's build. I will create another build today.

[2022-08-31 20:26] psomashekar commented on #38
Please don't create an issue for the start/ coin button thing. It's been opened many times before and this is done on purpose for compatibility with keyboard input devices.

[2022-09-01 16:47] 630216-29-2400 commented on #32
The previous update did fix it but it has returned after updating today to these core versions:
- Bakraid_20220830
- Batrider_20220830
- Garegga_20220830

[2022-09-02 00:56] ConHuevosGuey commented on #38
Hello again, just wanted to make you aware the 08/25/22 release also seems to have the slow music issue.  The 08/24/22 release seems to have it close to correct but could possibly be too fast, but sounds much better.

[2022-09-02 12:51] psomashekar commented on #38
No that version was too fast. I think I may have fixed it. I compare the length of the intro music to the length of the PCB intro music and it seems to stop at the exact same place, so I think it's the correct speed. I'm fixing other issues at the moment, so the new build is slightly on hold.

[2022-09-02 18:31] psomashekar commented on #38
ok new build out. it should fix this one hopefully.

[2022-09-02 18:31] #38 closed

[2022-09-02 22:13] luke86 opened #41 "Battle Bakraid - scroll layers disappear when free play dip is enabled"
Tried to play 2 Player mode today, but for some reason the background and some parts of the boss sprites in the first level were black or just not there. We then reset the Core and started in 1 Player Mode which worked and then we welt the second player join while the first level was running. Everything looked good until we reached level 3 where the background didnt load again.

While making scree

[2022-09-03 00:58] psomashekar commented on #41
hmm, so the problem only presents itself in 2 player mode? It looks like the scroll layers are missing, but objects seem OK.

[2022-09-03 01:16] psomashekar commented on #41
Hmm, so I tried this on my end and I was able to start a 2 player game as normal and nothing disappeared. Can you please let me know how this came about?

[2022-09-03 09:08] luke86 commented on #41
Yesterday it happened every time i started the game by letting both players choose their ship in the ship choosing screen. Sometimes it happened also when i only started as 1 player.

Today i tried it again after deleting my rbf/mra/rom + the config for the game and now sometimes it works with 2 players starting and sometimes i still get the black background at the first level with the 2 players.

[2022-09-03 12:46] psomashekar commented on #41
Hmm, if it's not consistent it sounds like some compatibility issue with SDRAM. Although, the scroll layers thing I've seen disappear entirely with an improper dtack module. Mabe that plays a role in this, but not sure. I'll keep this issue open for now to see if others report the same thing. Thanks for letting me know.

[2022-09-04 03:24] MaxSchultz opened #42 "Sorcer Striker · Some SFX are low volume (or music too loud?)"
PCB video used for comparison: https://youtu.be/jwXV7dZFczM?t=28
Tested with different audio setups and headphones directly out of the MiSTer.

**SFX that seem to be too low**
Ship takeoff sound
Enemy death/explosion
Enemy shots
Player option shot
Player death
...

**SFX that seem OK**
Coin pickup
Power-up/magic book pickup
Enemy tank or turret armor hit/damage

Having a lot of fun with this core

[2022-09-04 17:46] psomashekar commented on #42
It looks like the synth is like some really low value below the pcm, mabe 25% or so. Let me try with 25% for synth and 100% for pcm.

[2022-09-04 18:04] psomashekar commented on #42
this should be fixed now for sorcer and kingdom. Thanks.

[2022-09-04 18:04] #42 closed

[2022-09-05 02:31] owlnonymous commented on #41
It happens on a one player game stage 3 consistently. New in today's update.

[2022-09-05 04:48] psomashekar commented on #41
There really hasn't been any updates to Bakraid except for just changing the pll. I know people have 1ccd this, so it was working with the previous pll. Mabe I should just revert the build back to before?

[2022-09-05 05:00] psomashekar commented on #41
I just got up to stage 3 and did not see this happen. That's why I am saying, mabe it's only happening for some people?

[2022-09-05 05:08] psomashekar commented on #41
@luke86 can you please try bakraid 20220904 build? Thanks.

[2022-09-05 10:11] luke86 commented on #41
I re-tested everything now with the newest build i got an hour ago from update_all.

2 Player Test:
I Tested the same way as before and i feel like it works more often now. I completely rebooted the Mister 5 Times and i got it working 3 out of 5 Times, so the Background in the first level was there. When i did not cold boot the Mister and just triggered reset in the Menu screen of the core it work

[2022-09-05 10:19] SegaSnatcher opened #46 "Garegga and other games listed as 20220729 release in about section even with latest builds."
Not sure why it keeps showing it as an older build.

![Garegga](https://user-images.githubusercontent.com/36483667/188426730-4f639788-d770-47fe-95bc-fcca8a0fc63c.JPG)

![DSC00331](https://user-images.githubusercontent.com/36483667/188426071-06f58d68-1521-4af3-83a4-8918110921d2.JPG)

[2022-09-05 12:06] psomashekar commented on #41
Yea there are different branching paths and such. This problem has to do with dtack as far as I know, because I upgraded JTFrame and all my scroll layers disappeared completely. So I reverted it back and it seemed fine. But I guess there are cases when it disappears.

[2022-09-05 12:13] birdybro commented on #46
It's because jotegos framework has special things in the qsf to handle this that need to be incremented each time

https://github.com/MiSTer-devel/Arcade-Raizing_MiSTer/blob/develop/bakraid.qsf#L130

[2022-09-05 12:53] psomashekar commented on #46
Yea this is working properly as far as I know. I don't know what determines that date.

[2022-09-05 14:32] psomashekar commented on #41
Yea there are different branching paths and such. This problem has to do with dtack as far as I know, because I upgraded JTFrame and all my scroll layers disappeared completely. So I reverted it back and it seemed fine. But I guess there are cases when it disappears.

The only possible way I can replicate this is if I change the dtack module in JTFrame with an upgraded one. So at least I have a ba

[2022-09-05 17:22] atrac17 commented on #46
Update the hex address in the cfgstr files.

On Mon, Sep 5, 2022, 8:54 AM Pramod Somashekar ***@***.***>
wrote:

[2022-09-05 17:30] SegaSnatcher commented on #46
No duplicates.

[2022-09-05 22:02] GoldMister2 opened #47 "Announcer sound barely audible Armed Police Batrider"
Only Batrider has this issue. FX toggle and my setup does not change the issue.

[2022-09-05 23:03] eturquin commented on #47
Seems like the Low to High FX Vol settings have been shifted, Low is the highest atm.

[2022-09-06 00:44] psomashekar commented on #47
That was the previous build, I think it's reversed now, but still the options are out of order from the menus. The volume gain is from the board. The only thing I can do for different setups is allow to set the fm and PCM gain separately. Mabe I can do this as an enhancement.

[2022-09-06 00:45] psomashekar commented on #46
Yea I have a tcl script mod that will do this in the cfgstr that I'm testing. Thanks @atrac17 .

[2022-09-06 01:07] GoldMister2 commented on #47
It is also the explosions, bomb attacks and death (when the players ship explodes) if that helps.
The music, the sound of the ships weapon charging and pickups are normal.

[2022-09-06 02:58] psomashekar commented on #41
I still can't replicate this with the original release. The only way I can do it is by intentionally breaking it. @luke86 what about the releases before, do any of them have the same behavior?

[2022-09-06 12:13] lsnderick commented on #41
I have this problem when the game is set to freeplay only. Maybe this helps identify the issue.

[2022-09-06 12:21] psomashekar commented on #47
pull latest release. I set ym volume to 50% and pcm to 100. your fx level setting should be on "high" as a default.

[2022-09-06 12:21] #47 closed

[2022-09-06 12:22] psomashekar commented on #46
fixed in next release.

[2022-09-06 12:22] #46 closed

[2022-09-06 12:23] psomashekar commented on #32
bakraid is in a state of flux. I reverted back to a previous version for another issue going on

[2022-09-06 12:37] 630216-29-2400 commented on #32
Thanks,
Never quite sure when I should respond with this stuff as I know I know things are still being worked on.

[2022-09-06 13:19] psomashekar commented on #41
You are right, it appears to have something to do with the free play dip.

[2022-09-06 22:26] luke86 commented on #41
Can confirm it works perfect when I change from free play mode to 1/1. I tried 10 times and also played until I reached The Desert stage and everything worked. Also tried 2 player mode a few times without a problem.

As soon as I changed back to free play mode it happened again. I tried with the newest update (6.september)

[2022-09-07 17:10] psomashekar commented on #41
Thanks for that. In my investigation today, I found that the interface timing of the 68k to the z80 has bearing on this issue. I made some updates to the timing of the interface which either alleviates or completely eliminates the issue. At least I cannot replicate it anymore on my end. I could replicate it pretty much every time before with the free play dip on. I will release this today for test

[2022-09-07 18:15] psomashekar commented on #41
ok this should be fixed with the latest release. At least I cannot replicate it anymore, but test and let me know.

[2022-09-07 18:15] #41 closed

[2022-09-14 08:52] PepAlacant opened #54 "Sprites Missing in Sorcer/Kingdom due to fast object queue optimization in 9/13 Release"
The weapons as the green one playin with Chita (the girl) doesnt display the flare or weapon effect. It shows a little and buggy at the most left side of the screen.

it happens with the red fire, and I suppose it happens with other characters.

[2022-09-14 11:45] psomashekar commented on #54
Do you have a screenshot?

[2022-09-14 12:48] psomashekar commented on #54
fixed.

[2022-09-14 12:48] #54 closed

[2022-10-01 07:24] theenemy-thd opened #57 "Not an issue but is there a reason batsugun isnt payable?"
Not a bug or issue but just wondering why batsugun isn't playable?

[2022-10-01 12:02] psomashekar commented on #57
Batsugun is a 1993 game made by Toaplan. As indicated by the title of this repo, and the readme, this core only supports specific games made by Raizing during this period and clearly states the names of the games. The Toaplan games made during the same period, aim to be supported by @atrac17 through another core, this one: https://github.com/atrac17/Toaplan2

[2022-10-01 12:02] #57 closed

[2022-10-01 20:45] theenemy-thd commented on #57
Many thanks for the clarification 👍

[2022-10-04 14:58] bonna79 opened #58 "Problem .. bad rom on all games that use the same core"
Although I have always updated the mister fpga, equipped with a 128 mb 2-chip ram, bat rider initially went, now it no longer gives me errors at the first start.
Bad rom screen appears.
I attach photos of Batrider

![IMAGE 2022-10-04 16:35:05](https://user-images.githubusercontent.com/70318818/193848702-9e6c685c-e2e2-402c-957f-9efa1972f960.jpg)
![IMAGE 2022-10-04 16:35:10](https://user-images.gith

[2022-10-04 20:11] psomashekar commented on #58
I believe these are issues concerning the sdram or rom zip, not the core itself as it has come up many times in the past. For these questions, please ask in discord and folks can help out. Thanks.

[2022-10-04 20:11] #58 closed

[2022-10-07 18:27] lsnderick commented on #41
After the latest update this problem reappeared for me unfortunately.

[2022-10-08 00:07] IcarusFW opened #60 "Glitches..."
I've ran into a couple of visible layer priority issues on the most recent cores for Bakraid (Arcade-Bakraid_20221006.rbf) and Mahou Daisakusen (Arcade-Garegga_20220914.rbf):

- In Mahou/Sorcer Striker, in stage 3 in particular, the small fish enemies and giant fish heads at the end of the stage appear to have the wrong layer priority, and appear on top of the stage wall when they appear - video:

[2022-10-08 14:40] lsnderick commented on #60
Not sure if related, but after latest update the bug with Bakraid scroll layers disappearing with free play dip is back again for me :(

[2022-10-09 15:31] psomashekar commented on #60
@IcarusFW for Bakraid, did this happen with the last release? Mabe I need to roll back the mister version as the solution for pocket is not entirely applicable.

[2022-10-09 18:29] psomashekar commented on #60
Yea sorcer has weird priority issues. I implemented a fix that corrected the 2nd boss, but I guess that's not working in other cases like the castle walls. I'll think about it.

[2022-10-09 19:20] psomashekar commented on #60
@lsnderick I reverted the bakraid release that was broken, so this should work like before. I won't mess with it on mister. I will test more on my pocket version. I think the timings are different because I am using a different clock for that.

[2022-10-09 22:51] IcarusFW commented on #60
It happened with current and previous release, as I tested them both out on stream.

[2022-10-10 00:59] psomashekar commented on #60
thanks @IcarusFW , I will look into it.

[2022-10-10 02:14] psomashekar commented on #60
@IcarusFW how often does this happen for you on the last september build? I tried the railroad and then the naval stage, and I am not able to replicate this on that. I have heard of this issue happening prior to that build though.

[2022-10-10 04:32] psomashekar commented on #60
[bakraid.zip](https://github.com/MiSTer-devel/Arcade-Raizing_MiSTer/files/9743369/bakraid.zip)
@IcarusFW would you mind trying this to see if it makes the issue better or worse? @lsnderick as well.

[2022-10-10 07:57] lsnderick commented on #60
Did a quick test playthrough of a normal course, seems to be working good for me with this build.

[2022-10-10 11:20] IcarusFW commented on #60
I was on 0913 originally, and could get it to happen once every few credits. Updated on stream to the 1006 build, and it still happened once every few credits.

I'll take a look at the new build you posted later and will report my findings.

[2022-10-10 23:52] IcarusFW commented on #60
Okay, so a quick update after testing the Bakraid and Garegga cores again.

Bakraid (current public ver., updated via *update_all* today):

- Still exhibits the issue with the vanishing background - tested the public core with all manner of stage orders today, and always seem to get it when going Forest > Railroad > Naval for some reason, and not with Forest > Railroad > whatever else. (Clip from

[2022-10-11 01:29] psomashekar commented on #60
thanks @IcarusFW , I have a fix for sorcer striker (and potentially other games with priority issues) coming today. a bit was cut off the priority level.

I personally cannot replicate the bakraid issue. If it happens for me, it will happen during the attract sequence, so I wonder if it is timing with the sdram? The glitching is definitely due to sdram though. I changed the clock to alleviate it f

[2022-10-11 02:37] psomashekar commented on #60
ok I think I may have found a way to replicate the bakraid issue. will think on this one for a bit to see if I have any ideas as to what may be causing it. Interestingly enough, resetting the core seems to bring back all the scroll layers.

[2022-10-11 16:41] psomashekar commented on #60
I think this bakraid issue with the scroll layers depends on which character you choose as well, because I can never replicate it with the ships in the top row. I have been able to replicate it every time with flame viper. Is this your experience as well @IcarusFW ?

[2022-10-11 18:40] IcarusFW commented on #60
Yes, I primarily play with the Flame Viper and usually get the glitch to happen a few times a session.

[2022-10-11 21:03] psomashekar commented on #60
ok @lsnderick @IcarusFW
I think I got it. Please try this build. I can no longer replicate with flame viper on either free play or regular coin play.
[bakraid.zip](https://github.com/MiSTer-devel/Arcade-Raizing_MiSTer/files/9759745/bakraid.zip)

[2022-10-12 14:26] lsnderick commented on #60
I don't have time for extensive testing currently, but after a quick run seems to look good.

[2022-10-12 17:59] IcarusFW commented on #60
I'll take a look at the new versions tonight.

[2022-10-12 21:45] IcarusFW commented on #60
Okay, a quick update:

- Mahou - Stage 3 layer priority bug fixed. Haven't seen anything else so far (but need to get into the last stage to check).
- Shippu Mahou - Played this a few days ago and didn't see anything, just for reference.
- Batrider - Haven't gone through the whole game yet, but so far haven't noticed anything major. Still need to do a run triggering the extra bosses to check them,

[2022-10-12 22:11] psomashekar commented on #60
Thanks a lot for testing. I haven't investigated the other minor graphical glitches yet. I'll take a look at the video in detail and see what it could be.

[2022-10-13 01:12] psomashekar commented on #60
I was able to clear the entire game with flame viper with stage 4 as the railroad and stage 5 as the desert, so I think mabe it must have been an older build you used there. But let me know if anything weird comes up...

[2022-10-15 00:29] felleg opened #65 "Start key and Coin key are inverted"
A little annoyance I noticed: the start and Coin keys are inverted when setting up controls. (Sorry if this was already flagged)

[2022-10-15 22:25] psomashekar commented on #65
Yes, many many times. It's intentional. It's for keyboard input compatibility.

[2022-10-15 22:25] #65 closed

[2022-10-17 12:39] psomashekar commented on #60
The vertical explosion thing happens on the end boss in batrider as well. What's happening (I think) is that some of the slices of the tiles that make up the explosion end up being out of order priority wise. At least that's what I noticed anyway. Will take a look into this. I think I had this come up before too for Garegga when I was testing.

[2022-10-19 12:23] IcarusFW commented on #60
Just got back from my trip. I'll try to find some time this week to give the new cores a quick run through.

[2022-10-20 00:22] blisstik commented on #60
The latest bakraid just simply glitches out to black screen. The other 2 latest cores work just fine.

[2022-10-20 01:12] psomashekar commented on #60
yea not sure, I use it personally and built for both pocket and mister and both work fine. Please check your setup.

[2022-10-20 06:03] blisstik commented on #60
I had the 1017, the 1018 one worked.

[2022-10-22 17:16] RGarciaLago commented on #17
I hope this is the right issue to post about this. I've been having problems with bypassing ram checks:

- For Garegga I consistently get "BAD" on ROM0.
- For Batrider I consistently get "BAD" on 68K ROM0 and 68K ROM2.
- For Grandprix / Sorcer Striker it seems to randomly work more often than not but I still get an error on occasion.
- Bakraid seems fine and clears the check on every mra, includin

[2022-10-22 17:37] psomashekar commented on #17
Unfortunately not much we can do about this as it is an sdram issue. Sorry about that.

[2022-10-22 17:56] willoucom commented on #17
I may have a suggestion for you, can you try changing the fan voltage on your IO board to 5V instead of 3V.
In my setup, I can run these games on 5V but not on 3V (I don't know why but I can live with that).

I hope this helps.

[2022-10-22 18:15] RGarciaLago commented on #17
Thanks for the suggestion! I tried searching but I couldn't find a guide on how to change fan voltage. Do you mind directing me to one?

[2022-10-22 18:49] willoucom commented on #17
Assuming your IO board is from a reputable vendor, you can find the jumper between the fan and the fan connector.

[2022-10-23 23:00] IcarusFW commented on #60
Okay did some testing tonight on all of the cores, and got some time in on
Bakraid, Batrider, Garegga and Mahou.
Happy to report I haven't seen any major issues at all in the four hours of
testing tonight. I'll naturally keep testing as we go (plus it's a good
excuse to get back into practice with these games), but for now I think
that they're in a good state.

[2022-10-23 23:23] psomashekar commented on #60
Thanks very much for testing these on your stream! As always, please let me know if you encounter anything and I can investigate and fix.

[2022-10-23 23:23] #60 closed

[2022-11-09 12:53] eleriaqueen opened #74 "Slight stutter every second or so in Battle Bakraid"
Hi, Battle Bakraid exhibits slight stutter every second or so, I'm assuming it is because of video signal frequency which doesn't align with my 60 Hz (non-VRR) display but can't seem to find info about the real frequency of Bakraid / Raizing boards online.
I have the latest public release that Update-All can download as of November 8 2022.

Didn't see any core option to force 60hz sync (by either

[2022-11-11 12:19] psomashekar commented on #74
Hi,
Actually I don't control this in the core itself as the core uses the board timings. Anything else above that is handled by JTFrame and the scan doubler.

At this point I don't have any plans to add features that alter the original video timings to suit various displays. I'm not sure the game would play very well under those conditions if we were to slightly slow it or make it faster.

[2022-11-17 18:42] RGarciaLago commented on #17
I'm sorry to use github comments in this way but can I chat with you real quick? I owe you an apology.

[2022-11-27 18:13] x0rtrunks commented on #17
Still having this issue with a v2.9 ram board from Misteraddons. Is it just a lottery on whether your ram will work or not?